body{
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #add8e62a;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    background-color: #add8e6;
    border-bottom: 8px solid hsl(195, 53%, 70%);
}

.title{
    font-size: 35px;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    text-shadow: 2px 2px 5px grey;
}

.leftElements{
    display: flex;
    gap: 5px;
    align-items: center;
}

.inputDescription{
    font-size: 18px;
}

.textInput{
    width: 36px;
    padding: 8px;
    border: 0;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}

.clearGrid, .gridGen, .simpleMode, .randomMode, .ereaseMode{
    padding: 7px 8px;
    border-radius: 10px;
    border: 1px solid hsl(180, 50%, 50%);
    font-size: 18px;
    transition: all 200ms ease-out;
}

.clearGrid:hover, .gridGen:hover, .simpleMode:hover, .randomMode:hover, .ereaseMode:hover{
    box-shadow: 0px 0px 8px rgba(255, 160, 122, 0.548);
    background-color: hsla(0, 0%, 100%, 0.65);
}

/*.clearGrid{
    margin-right: 16px;
}*/

.grid-container{
    display: grid;
    align-self: center;
    padding: 16px;
    grid-template-columns: auto;
    width: 720px;
    height: auto;
    margin-top: 56px;
    background-color: antiquewhite;
}

.gridElement{
    background-color: rgb(194, 158, 158);
    aspect-ratio: 1;
    border: 1px solid black;
}

.workspace{
    display: flex;
    justify-content: center;
    gap: 62px;
    padding: 35px;
}

.selections{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 56px;
}
